<template>
	<div>
		<error-alert :text="page.error"></error-alert>
		<b-toast id="changes-saved" variant="success" solid title="Changes saved" toaster="b-toaster-top-center">
			Your changes have been saved.
		</b-toast>
		
		<b-form :validated="page.validated" @submit.prevent="save">
			<b-form-group label="Schedule name" label-for="name" class="mb-4">
				<b-form-input id="name" type="text" v-model="form.name" required autofocus maxLength="16" 
					v-b-tooltip.hover.bottom="'Must be unique and cannot contain spaces'" />
			</b-form-group>

			<b-row class="mb-4">
				<b-col sm="5">
					<h3 class="mb-3">Automatic schedules</h3>
					<div v-if="form.auto_ops.length > 0">
						<p v-if="form.auto_ops.length > 1">Drag and drop items to sort</p>
						<div>
							<draggable class="list-group" element="ul" v-model="form.auto_ops">
								<li class="list-group-item bg-light d-flex justify-content-between align-items-center" v-for="element in form.auto_ops" :key="element">
									<font-awesome-icon :icon="['fas', 'edit']" class="mr-2 text-primary pointer" @click="goToAutoOp(element)" v-b-tooltip.hover.right="commonMessages.leaveWarning" />
									{{element}}
									<font-awesome-icon :icon="['fas', 'times']" class="ml-auto text-danger pointer" @click="removeAutoOp(element)" v-b-tooltip.hover.right="'Delete'" />
								</li>
							</draggable>
						</div>
					</div>

					<b-form-group label-for="grww_name" class="mt-3">
						<template slot="label">
							Add an automatic schedule
							<font-awesome-icon :icon="['fas', 'question-circle']" class="text-info pointer" id="auto_op_pop" />
						</template>
						<b-popover target="auto_op_pop" triggers="hover focus">
							<reference-label section="Decision Tables / Land Use Management" file="lum.dtl" db="d_table_dtl" />
						</b-popover>

						<b-row no-gutters>
							<b-col>
								<type-ahead id="new_auto_op" :required="false" show-preview
									v-model="data.new_auto_op"
									:value="data.new_auto_op"
									src=":keyword"
									:fetch="getNamesAutoOps"
									:getResponse="getDataResponse" />
							</b-col>
							<b-col cols="2">
								<b-btn variant="primary" class="wide ml-1" :disabled="isNullOrEmpty(data.new_auto_op)"   @click="addAutoOp">Add</b-btn>
							</b-col>
						</b-row>
					</b-form-group>
				</b-col>
				<b-col sm="6" offset-sm="1">
					<h3 class="mb-3">Operations</h3>

					<div v-if="form.operations.length > 0">				
						<table class="table border-bottom table-grid table-sm">
							<thead>
								<tr class="bg-light">
									<th></th>
									<th>Operation</th>
									<th>Year</th>
									<th>Month</th>
									<th>Day</th>
									<th title="Heat Units">HU</th>
									<th colspan="3">Data</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(op, i) in sortedOperations" :key="i">
									<td><font-awesome-icon :icon="['fas', 'edit']" class="text-primary pointer" @click="editOp(op)" v-b-tooltip.hover.right="'Edit'" /></td>
									<td>{{op.op_typ}}</td>
									<td>{{op.order}}</td>
									<td>{{op.mon}}</td>
									<td>{{op.day}}</td>
									<td>{{op.hu_sch}}</td>
									<td>{{op.op_data1}}</td>
									<td>{{op.op_data2}}</td>
									<td>{{op.op_data3}}</td>
									<td><font-awesome-icon :icon="['fas', 'times']" class="text-danger pointer" @click="removeOp(op)" v-b-tooltip.hover.right="'Delete'" /></td>
								</tr>
							</tbody>
						</table>

						<p>
							Operation sorting is done by year of rotation followed by heat units, then month/day if heat units = 0.
						</p>
					</div>
					<div>
						<b-btn variant="primary" @click="addOp">Add an operation</b-btn>
					</div>

					<b-modal ref="opModal" v-model="modal.show" size="lg" :title="(modal.new ? 'Add' : 'Edit') + ' Operation'" no-close-on-backdrop no-close-on-esc hide-header-close>
						<b-alert variant="danger" :show="modal.error !== undefined">
							{{modal.error}}
						</b-alert>

						<b-form>
							<b-form-group label="Operation" label-for="op_typ">
								<b-form-select id="op_typ" v-model="modal.operation.op_typ" :options="data.op_codes" @change="changeOp" />
							</b-form-group>

							<hr class="my-3" />

							<div>
								Operations can be scheduled by month/day or heat units. If no month/day, heat units should be > 0. 
							</div>

							<div v-if="modal.operation.op_typ == 'skip'">
								In order to sort your skip operation properly, enter a month/day or heat units accordingly. These values are not used in the model for skips and are for sorting only.
							</div>

							<b-row class="mt-3">
								<b-col>
									<b-form-group label="Year of Rotation" label-for="hu_sch">
										<input id="order" v-model="modal.operation.order" type="number" class="form-control" />
									</b-form-group>
								</b-col>
								<b-col>
									<b-form-group label="Month" label-for="mon">
										<b-form-select id="mon" v-model="modal.operation.mon" :options="data.months" />
									</b-form-group>
								</b-col>
								<b-col>
									<b-form-group label="Day" label-for="day">
										<b-form-select id="day" v-model="modal.operation.day" :options="data.days" />
									</b-form-group>
								</b-col>
								<b-col>
									<b-form-group label="Heat Units Fraction" label-for="hu_sch">
										<input id="op_dahu_schta3" v-model="modal.operation.hu_sch" type="number" step="any" class="form-control" min="0" max="1" />
									</b-form-group>
								</b-col>
							</b-row>

							<hr class="my-3" />

							<b-row v-if="modal.operation.op_typ != 'prtp' && modal.operation.op_typ != 'skip'">
								<b-col cols="6">
									<b-form-group label-for="op_data1">
										<template slot="label">
											{{data.op_data1.label}}
											<font-awesome-icon :icon="['fas', 'question-circle']" class="text-info pointer" id="op_data1_pop" />
										</template>
										<b-popover target="op_data1_pop" triggers="hover focus">
											<reference-label :section="data.op_data1.section" :file="data.op_data1.file" :db="data.op_data1.db" />
										</b-popover>

										<b-row no-gutters>
											<b-col>
												<type-ahead id="op_data1" :required="false" show-preview
													v-model="modal.operation.op_data1"
													:value="modal.operation.op_data1"
													src=":keyword"
													:fetch="getNamesOpData1"
													:getResponse="getDataResponse" />
											</b-col>
											<b-col cols="1" v-if="!modal.new && false">
												<b-btn variant="primary" class="wide ml-1" :disabled="isNullOrEmpty(modal.operation.op_data1)"  @click="goToProp" v-b-tooltip.hover="commonMessages.leaveWarning"><font-awesome-icon :icon="['fas', 'edit']" /></b-btn>
											</b-col>
										</b-row>
									</b-form-group>
								</b-col>
								<b-col v-if="modal.operation.op_typ == 'harv' || modal.operation.op_typ == 'hvkl' || modal.operation.op_typ == 'fert' || modal.operation.op_typ == 'pest'">
									<b-form-group label-for="op_data2">
										<template slot="label">
											{{data.op_data2.label}}
											<font-awesome-icon :icon="['fas', 'question-circle']" class="text-info pointer" id="op_data2_pop" />
										</template>
										<b-popover target="op_data2_pop" triggers="hover focus">
											<reference-label :section="data.op_data2.section" :file="data.op_data2.file" :db="data.op_data2.db" />
										</b-popover>

										<b-row no-gutters>
											<b-col>
												<type-ahead id="op_data2" :required="false" show-preview
													v-model="modal.operation.op_data2"
													:value="modal.operation.op_data2"
													src=":keyword"
													:fetch="getNamesOpData2"
													:getResponse="getDataResponse" />
											</b-col>
											<b-col cols="1" v-if="!modal.new && false">
												<b-btn variant="primary" class="wide ml-1" :disabled="isNullOrEmpty(modal.operation.op_data2)"  @click="goToProp" v-b-tooltip.hover="commonMessages.leaveWarning"><font-awesome-icon :icon="['fas', 'edit']" /></b-btn>
											</b-col>
										</b-row>
									</b-form-group>
								</b-col>
							</b-row>

							<b-row v-if="data.has_op_data3.includes(modal.operation.op_typ)">
								<b-col cols="6">
									<b-form-group :label="opData3Label" label-for="op_data3">
										<input id="op_data3" v-model="modal.operation.op_data3" type="number" step="any" class="form-control" />
									</b-form-group>
								</b-col>
							</b-row>
						</b-form>
						
						<div slot="modal-footer">
							<b-button type="button" variant="primary" @click="saveOp" :disabled="modal.saving" class="mr-1">
								<font-awesome-icon v-if="modal.saving" :icon="['fas', 'spinner']" spin />
								Save
							</b-button>
							<b-button type="button" variant="secondary" @click="cancel">Cancel</b-button>
						</div>
					</b-modal>
				</b-col>
			</b-row>

			<action-bar>
				<save-button :saving="page.saving" @click.native="page.validated = true" />
				<back-button />
			</action-bar>
		</b-form>
	</div>
</template>

<style>
.list-group-item {
  cursor: move;
}
</style>

<script>
import draggable from 'vuedraggable';

export default {
	name: 'ManagementForm',
	components: {
		draggable
	},
	props: {
		isUpdate: {
			type: Boolean,
			default: false
		},
		item: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			page: {
				loading: true,
				error: undefined,
				validated: false,
				saving: false
			},
			form: {
				name: '',
				auto_ops: [],
				operations: []
			},
			data: {
				days: [
					{ value: 0, text: 'None (use heat units)' }
				],
				months: [
					{ value: 0, text: 'None (use heat units)' },
					{ value: 1, text: 'January' },
					{ value: 2, text: 'February' },
					{ value: 3, text: 'March' },
					{ value: 4, text: 'April' },
					{ value: 5, text: 'May' },
					{ value: 6, text: 'June' },
					{ value: 7, text: 'July' },
					{ value: 8, text: 'August' },
					{ value: 9, text: 'September' },
					{ value: 10, text: 'October' },
					{ value: 11, text: 'November' },
					{ value: 12, text: 'December' }
				],
				op_codes: [],
				new_auto_op: '',
				op_data1: {
					label: '',
					section: '',
					file: '',
					db: ''
				},
				op_data2: {
					label: '',
					section: '',
					file: '',
					db: ''
				},
				has_op_data3: ['fert', 'pest', 'graz', 'dwm']
			},
			modal: {
				show: false,
				validate: false,
				saving: false,
				error: undefined,

				new: false,
				editIndex: 0,
				operation: {
					op_typ: 'plnt',
					mon: 0,
					day: 0,
					hu_sch: 0,
					op_data1: null,
					op_data2: null,
					op_data3: 0,
					order: 1
				}
			}
		}
	},
    async created() {
		if (this.currentProjectSupported) await this.get();
	},
	watch: {
		'$route': 'get'
	},
	methods: {
		putDb(data) {
			if (this.isUpdate)
				return this.$http.put('mgt_sch/' + this.item.id + '/' + this.projectDbUrl, data);
			else
				return this.$http.post('mgt_sch/post/' + this.projectDbUrl, data);
		},
		getCodesDb() {
			return this.$http.get('codes/management_sch/op_typ/' + this.appPath);
		},
		getNamesAutoOps(name) {
			return this.getAutoComplete('lum.dtl', name);
		},
		getNamesOpData1(name) {
			/*
			!! plnt; autoplnt - plant
			!! harv; autoharv - harvest only
			!! kill; autokill - kill
			!! hvkl; autohk - harvest and kill
			!! till; autotill - tillage
			!! irrm; autoirr - irrigation
			!! fert; autofert - fertlizer
			!! pest; pestauto - pesticide application
			!! graz; autograz - grazing
			!! burn; autoburn - burn
			!! swep; autoswep - street sweep
			!! prtp - print plant vars
			!! skip - skip to end of the year
			*/
			switch(this.modal.operation.op_typ) {
				case 'plnt':
				case 'harv':
				case 'kill':
				case 'hvkl':
					return this.getAutoComplete('plant', name);
				case 'till':
					return this.getAutoComplete('till', name);
				case 'irrm':
					return this.getAutoComplete('irr_ops', name);
				case 'fert':
					return this.getAutoComplete('fert', name);
				case 'pest':
					return this.getAutoComplete('pest', name);
				case 'graz':
					return this.getAutoComplete('graze_ops', name);
				case 'burn':
					return this.getAutoComplete('fire_ops', name);
				case 'swep':
					return this.getAutoComplete('sweep_ops', name);
				case 'prtp':
					break;
				case 'skip':
					break;
			}

			return null;
		},
		getNamesOpData2(name) {
			switch(this.modal.operation.op_typ) {
				case 'plnt':
				case 'kill':
					break;
				case 'harv':
				case 'hvkl':
					return this.getAutoComplete('harv_ops', name);
				case 'till':
				case 'irrm':
					break;
				case 'fert':
				case 'pest':
					return this.getAutoComplete('chem_app_ops', name);
				case 'graz':
				case 'burn':
				case 'swep':
				case 'prtp':
				case 'skip':
					break;
			}

			return null;
		},
		async get() {
			this.page.loading = true;
			this.page.error = null;

			for (let i = 1; i <= 31; i++) {
				this.data.days.push({ value: i, text: i.toString() });
			}

			if (this.item !== undefined) {
				this.form.name = this.item.name;

				for (let i = 0; i < this.item.auto_ops.length; i++) {
					this.form.auto_ops.push(this.item.auto_ops[i].d_table.name);
				}

				this.form.operations = this.item.operations;
			}

			try {
				const response = await this.getCodesDb();
				this.data.op_codes = response.data;
			} catch (error) {
				this.page.error = this.logError(error, 'Unable to load operation codes from database.');
			}

			this.log(this.form.operations);
			this.log(this.item);
			this.log(this.data);

			this.page.loading = false;
		},
		async save() {
			this.page.error = null;
			this.page.saving = true;
			this.page.validated = true;
            var val_error = false;

			var item = this.form;			
			item.name = this.validName(this.form.name);
			
			try {
				const response = await this.putDb(item);
				this.page.validated = false;

				if (this.isUpdate)
					this.$bvToast.show('changes-saved');
				else
					this.$router.push({ name: 'Management'});
			} catch (error) {
				this.page.error = this.logError(error, 'Unable to save changes to database.');
			}
			
			this.page.saving = false;
		},
		addAutoOp() {
			var alreadyExists = this.form.auto_ops.includes(this.data.new_auto_op);
			if (this.data.new_auto_op != '' && !alreadyExists) {
				this.form.auto_ops.push(this.data.new_auto_op);
				this.data.new_auto_op = '';
			}	
			
			if (alreadyExists)
				this.data.new_auto_op = '';
		},
		removeAutoOp(element) {
			this.form.auto_ops.splice(this.form.auto_ops.indexOf(element), 1);
		},
		removeOp(element) {
			this.form.operations.splice(this.form.operations.indexOf(element), 1);
		},
		editOp(op) {
			this.modal.operation = {
				op_typ: op.op_typ,
				mon: op.mon,
				day: op.day,
				hu_sch: op.hu_sch,
				op_data1: op.op_data1,
				op_data2: op.op_data2,
				op_data3: op.op_data3,
				order: op.order
			};
			this.modal.editIndex = this.form.operations.indexOf(op);
			this.modal.new = false;
			this.setLabels(op.op_typ);
			this.modal.show = true;
		},
		addOp(op) {
			this.modal.editIndex = 0;
			this.modal.new = true;
			this.setLabels('plnt');
			this.modal.show = true;
		},
		setLabels(name) {
			switch(name) {
				case 'plnt':
				case 'kill':
					this.data.op_data1.label = 'Plant name';
					this.data.op_data1.section = 'Databases / Plants';
					this.data.op_data1.file = 'plants.plt';
					this.data.op_data1.db = 'plants_plt';
					break;
				case 'harv':
				case 'hvkl':
					this.data.op_data1.label = 'Plant name';
					this.data.op_data1.section = 'Databases / Plants';
					this.data.op_data1.file = 'plants.plt';
					this.data.op_data1.db = 'plants_plt';
					this.data.op_data2.label = 'Harvest operation name';
					this.data.op_data2.section = 'Operations / Harvest';
					this.data.op_data2.file = 'harv.ops';
					this.data.op_data2.db = 'harv_ops';
					break;
				case 'till':
					this.data.op_data1.label = 'Tillage name';
					this.data.op_data1.section = 'Databases / Tillage';
					this.data.op_data1.file = 'tillage.til';
					this.data.op_data1.db = 'tillage_til';
					break;
				case 'irrm':
					this.data.op_data1.label = 'Irrigation operation name';
					this.data.op_data1.section = 'Operations / Irrigation';
					this.data.op_data1.file = 'irr.ops';
					this.data.op_data1.db = 'irr_ops';
					break;
				case 'fert':
					this.data.op_data1.label = 'Fertilizer name';
					this.data.op_data1.section = 'Databases / Fertilizer';
					this.data.op_data1.file = 'fertilizer.frt';
					this.data.op_data1.db = 'fertilizer_frt';
					this.data.op_data2.label = 'Chemical application name';
					this.data.op_data2.section = 'Operations / Chemical Application';
					this.data.op_data2.file = 'chem_app.ops';
					this.data.op_data2.db = 'chem_app_ops';
					break;
				case 'pest':
					this.data.op_data1.label = 'Pesticide name';
					this.data.op_data1.section = 'Databases / Pesticide';
					this.data.op_data1.file = 'pesticide.pes';
					this.data.op_data1.db = 'pesticide_pst';
					this.data.op_data2.label = 'Chemical application name';
					this.data.op_data2.section = 'Operations / Chemical Application';
					this.data.op_data2.file = 'chem_app.ops';
					this.data.op_data2.db = 'chem_app_ops';
					break;
				case 'graz':
					this.data.op_data1.label = 'Graze operation name';
					this.data.op_data1.section = 'Operations / Graze';
					this.data.op_data1.file = 'graze.ops';
					this.data.op_data1.db = 'graze_ops';
					break;
				case 'burn':
					this.data.op_data1.label = 'Fire operation name';
					this.data.op_data1.section = 'Operations / Fire';
					this.data.op_data1.file = 'fire.ops';
					this.data.op_data1.db = 'fire_ops';
					break;
				case 'swep':
					this.data.op_data1.label = 'Sweep operation name';
					this.data.op_data1.section = 'Operations / Sweep';
					this.data.op_data1.file = 'sweep.ops';
					this.data.op_data1.db = 'sweep_ops';
					break;
			}
		},
		changeOp(event) {
			this.setLabels(event);

			this.modal.operation.op_data1 = null;
			this.modal.operation.op_data2 = null;
		},
		goToProp() {},
		saveOp() {
			var ot = this.modal.operation.op_typ;
			if (ot == 'prtp' || ot == 'skip') {
				this.modal.operation.op_data1 = null;
				this.modal.operation.op_data2 = null;
				this.modal.operation.op_data3 = 0;
			}
			if (!(ot == 'harv' || ot == 'hvkl' || ot == 'fert' || ot == 'pest')){
				this.modal.operation.op_data2 = null;
			}

			if (this.modal.new) {
				this.form.operations.push(this.modal.operation);
			} else {
				this.form.operations[this.modal.editIndex] = this.modal.operation;
			}

			this.resetOp();
			this.sortOps();
			this.modal.show = false;
		},
		cancel() {
			this.modal.show = false;
			this.resetOp();
		},
		resetOp() {
			this.modal.operation = {
				op_typ: 'plnt',
				mon: 0,
				day: 0,
				hu_sch: 0,
				op_data1: null,
				op_data2: null,
				op_data3: 0,
				order: 1
			};
			this.setLabels('plnt');
		},
		sortOps() {
			function compare(a, b) {
				if (a.order < b.order)
					return -1;
				if (a.order > b.order)
					return 1;
				
				if (a.hu_sch == 0 && b.hu_sch > 0)
					return 1;
				if (a.hu_sch > 0 && b.hu_sch == 0)
					return -1;

				if (a.hu_sch < b.hu_sch)
					return -1;
				if (a.hu_sch > b.hu_sch)
					return 1;
				if (a.mon < b.mon)
					return -1;
				if (a.mon > b.mon)
					return 1;
				if (a.day < b.day)
					return -1;
				if (a.day > b.day)
					return 1;
				return 0;
			}

			return this.form.operations.sort(compare);
		},
		async goToAutoOp(name) {
			try {
				const response = await this.getAutoCompleteId('dtl', name);
				var id = response.data.id;
				
				this.$router.push({ name: 'DecisionsEdit', params: { id: id }});
			} catch (error) {
				this.page.error = this.logError(error, 'Cannot find ' + name + ' in database.');
			}
		}
	},
	computed: {
		sortedOperations() {
			return this.sortOps();
		},
		opData3Label() {
			if (this.modal.operation.op_typ == 'fert' || this.modal.operation.op_typ == 'pest') return 'Amount applied (kg/ha)';
			if (this.modal.operation.op_typ == 'graz') return 'Number of days of grazing';
			if (this.modal.operation.op_typ == 'dwm') return 'Tile depth (mm)';
			return 'Operation data 3 (override)';
		}
	}
}
</script>