<template>
	<div>
		<file-header :input-file="decisionsTable" docs-path="decision-tables">
			Decision Tables / {{description}}
		</file-header>

		<p>
			You may modify or add decision tables offline and import them into SWAT+ Editor using the import/export button below.
			Please export first to get your existing tables, and adhere to the formatting of the file.
			Use the SWAT+ input/output documentation available on the <open-in-browser url="https://swat.tamu.edu/plus" text="SWAT+ website" /> as a guide.
		</p>

		<grid-view 
			:api-url="`decision_table/${decisionsTable}`"
			collection-description="decision tables"
			use-filter use-action-bar
			default-sort="name"
			use-dynamic-fields hide-create hide-delete
			edit-route="/edit/decision_table/edit/" :edit-route-append="false"
			show-import-export :default-csv-file="decisionsTable" :table-name="decisionsTable" import-export-description="text" />
	</div>
</template>

<script>
export default {
	name: 'DecisionsGrid',
	props: {
		decisionsTable: {
			type: String,
			required: true
		},
		description: {
			type: String,
			required: true
		}
	}
}
</script>