<template>
	<project-container>
		<file-header :input-file="item.file_name" docs-path="decision-tables">
			<router-link :to="'/edit/decision_table/' + linkBack">Decision Tables</router-link>
			/ Edit
		</file-header>

		<p>
			Editing functionality is not yet available for decision tables. 
			However, you may modify or add decision tables offline and import them into SWAT+ Editor using the 
			<router-link :to="'/edit/decision_table/' + linkBack">import/export tool</router-link>.
		</p>

		<error-alert :text="page.error"></error-alert>
		<b-toast id="changes-saved" variant="success" solid title="Changes saved" toaster="b-toaster-top-center">
			Your changes have been saved.
		</b-toast>
		
		<b-form :validated="page.validated" @submit.prevent="save">
			<b-form-group label="Name">
				<b-form-input disabled type="text" v-model="item.name" required autofocus maxLength="16" 
					v-b-tooltip.hover.bottom="'Must be unique and cannot contain spaces'" />
			</b-form-group>

			<b-tabs content-class="mt-3">
				<b-tab title="Tabular" active>
					<div class="tab-container">
						<div>Conditions</div>
						<b-table striped responsive class="border-bottom mt-1" small
							:items="item.conditions" 
							:fields="conditionsFields">
							<template v-slot:cell(alts)="data">
								<span class="pr-3" v-for="(a, i) in data.item.alts" :key="i">{{a.alt}}</span>
							</template>
						</b-table>

						<div>Actions</div>
						<b-table striped responsive class="border-bottom mt-1" small
							:items="item.actions" 
							:fields="actionsFields">
							<template v-slot:cell(outcomes)="data">
								<span class="pr-3" v-for="(o, i) in data.item.outcomes" :key="i">{{o.outcome ? 'y': 'n'}}</span>
							</template>
						</b-table>
					</div>
				</b-tab>
				<b-tab title="Descriptive">
					<div class="tab-container">
						<p v-for="(d, i) in descriptions" :key="i">
							If {{d.conditions.join(' and ')}} then {{d.actions.join(' and ')}}
						</p>
					</div>
				</b-tab>
			</b-tabs>					

			<action-bar>
				<save-button v-if="false" :saving="page.saving" />
				<back-button />
			</action-bar>
		</b-form>
	</project-container>
</template>

<script>
export default {
	name: 'DecisionsEdit',
	data() {
		return {
			page: {
				loading: false,
				error: null,
				validated: false,
				saving: false
			},
			item: {},
			linkBack: null,
			descriptions: [],
			conditionsFields: [
				{ key: 'var' },
				{ key: 'obj' },
				{ key: 'obj_num' },
				{ key: 'lim_var' },
				{ key: 'lim_op' },
				{ key: 'lim_const' },
				{ key: 'alts' },
			],
			actionsFields: [
				{ key: 'act_typ' },
				{ key: 'obj' },
				{ key: 'obj_num' },
				{ key: 'name' },
				{ key: 'option' },
				{ key: 'const' },
				{ key: 'const2' },
				{ key: 'fp' },
				{ key: 'outcomes' },
			],
			definitions: {
				conditions: {
					'w_stress': 'water stress',
					'n_stress': 'nitrogen stress',
					'phu_plant': 'potential heat units (plant based)',
					'phu_base0': 'potential heat units (base zero)',
					'plant_gro': 'plants growing',
					'days_harv': 'days since last harvest',
					'day_start': 'days since last harvest',
					'soil_water': 'soil water',
					'jday': 'julian day',
					'month': 'month',
					'year_rot': 'rotation year',
					'year_gro': 'growth year of perennials',
					'year_cal': 'calendar year',
					'year_seq': 'sequential year of simulation',
					'prob': 'probability',
					'tile_flo': 'tile flow',
					'aqu_dep': 'aquifer depth below surface',
					'land_use': 'land use and management',
					'ch_use': 'channel management',
					'vol': 'reservoir volume',
					'vol_wet': 'wetland volume (stored on an hru)'
				},
				actions: {
					'harvest': 'harvest',
					'harvest_kill': 'harvest and kill',
					'till': 'tillage',
					'irrigate': 'irrigate',
					'fertilize': 'fertilize',
					'pest_apply': 'apply pesticide',
					'burn': 'burn',
					'release': 'release',
					'lu_change': 'land use change',
					'plant': 'plant',
					'kill': 'kill',
					'rot_reset': 'reset rotation year',
					'grow_init': 'initiate growing season for hru_lte',
					'grow_end': 'end growing season for hru_lte',
					'drain_control': 'drainage water management',
					'flow_control': 'tile flow control for saturated buffers',
					'chan_change': 'channel change',
					'graze': 'graze'
				}
			}
		}
	},
	async created() {
		if (this.currentProjectSupported) await this.get();
	},
	watch: {
		'$route': 'get'
	},
	methods: {
		async get() {
			try {
				const response = await this.$http.get(`decision_table/${this.$route.params.id}/${this.projectDbUrl}`);
				this.item = response.data;
				this.linkBack = this.item.file_name.split('.')[0];

				if (this.item.conditions.length > 0) {
					for (let c of this.item.conditions) {
						for (let i = 0; i < c.alts.length; i++) {
							if (i >= this.descriptions.length) {
								this.descriptions.push({conditions: [], actions: []});
							}

							if (c.alts[i].alt != '-') {
								let varText = c.var;
								if (c.var in this.definitions.conditions) {
									varText = this.definitions.conditions[c.var];
								}

								let item = varText + ' ' + c.alts[i].alt + ' ';
								if (!this.isNullOrEmpty(c.lim_var, true)) {
									item += c.lim_var + ' ';
									if (c.lim_op != '-') {
										item += c.lim_op + ' ' + c.lim_const;
									} else if (c.lim_const != 0) {
										item += ' ' + c.lim_const;
									}
								}
								else {
									item += c.lim_const;
								}

								this.descriptions[i].conditions.push(item);
							}
						}
					}

					for (let a of this.item.actions) {
						for (let i = 0; i < a.outcomes.length; i++) {
							if (a.outcomes[i].outcome) {
								let varText = a.act_typ;
								if (a.act_typ in this.definitions.actions) {
									varText = this.definitions.actions[a.act_typ];
								}

								let item = varText + ' ';
								if (!this.isNullOrEmpty(a.option, true)) {
									item += a.option + ' ';
								}
								item += '(' + a.name + ')';

								if (i < this.descriptions.length) {
									this.descriptions[i].actions.push(item);
								}							
							}
						}
					}
				}
			} catch (error) {
				this.page.error = this.logError(error, 'Error loading decision table.');
			}

			this.page.loading = false;
		},
		async save() {
			this.log('save');
		}
	}
}
</script>